# Misc
build.xml
node_modules
npm-debug.log
fixed-ng2-sticky-kit.js
fixed-ng2-sticky-kit.js.map
src/**/*.js.map
src/**/*.js
test/**/*.js.map
test/**/*.js

# JetBrains
.idea
.project
.settings
*.iml

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store
